@charset "utf-8";

body
{
	margin: 0;
	padding: 0;
	background-color: #C1C7E2;
	background-image: url(../img/pagebg.png);
	background-repeat: repeat-x;
}

.floatingHeader
{
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0;
	/*float: left;*/
}

td select,
td input[type="text"],
td input[type="password"],
td input[type="file"],
td button
{
	margin-bottom: 0px;
}

/* ADMINISTRATION */

/* This is a hacky way to fix a strange IE9 issue which draws a black border beneath
any .btn-mini button in a .well. Fuck IE */
#configuration .btn-mini, #authorization .btn-mini
{
	line-height: 19px;
}

.configuration select, .configuration input
{
	width: auto;
}

.privilege-level
{
	font-size: 20px;
	font-weight: bold;
}

.privilege-view
{
	font-weight: bold;
	display: block;
	height: 30px;
}

.privilege-view span, .privilege-view input[type=checkbox], .privilege-view button
{
	display: inline-block;
	margin: 4px 0px 4px 10px;
}

#holiday-list
{
	font-size: 24px;
}

.holiday-view
{
	/*display: block;*/
	
	margin-bottom: 20px;
}

.holiday-view button
{
	margin: 0px 5px 5px;
}

input.label
{
	font-weight: normal;
	text-shadow: none;
}

.edit-save-buttons,
.destroy-cancel-buttons
{
	width: 30px;
	margin: 10px 8px;
	float: left;
}

/* modal */

.modal-footer .buttons {
	display: inline;
}

.modal .header-subheading {
	color: gray;
}

/* list */

.list-item-column-header {
	font-weight: bold;
	font-size: 16px;
	float: left;
	margin: 10px 10px;
	width: 100px;
}

.list-item-field input /* might need to limit to edit mode */
{
	margin-bottom: 0px;
}

td.edit-save-buttons,
td.destroy-cancel-buttons
{
	float: none;
	margin: auto;
	width: 30px;
}

td.attachments-button
{
	width: 50px;
}

/* FILE UPLOADER */

.qq-upload-list li.alert-danger,
.qq-upload-list li.alert-error {
  background-color: #f2dede;
}

.qq-upload-list li.alert-success {
  background-color: #dff0d8;
}

/* EMPLOYEES */

#toggleInactive
{
	margin: 5px 0px 5px 20px;
	display: inline-block;
}

/* ~~ Element/tag selectors ~~ */

ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */

	padding: 0;

	margin: 0;

}
h1, h2, h3, h4, h5, h6  {
	margin: 15px 30px 15px 0px;
	clear: both;
	background-repeat: no-repeat;

}

p {
	clear: both;
	margin-top: 0px;
	padding-right: 30px;
	margin-bottom: 16px;
	margin-left: 30px;
}


a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;

}



/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */

a:link {
	/* [disabled]color:#414958; */
	/* [disabled]text-decoration: underline; */ /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */

}

a:visited {
	/* [disabled]color: #4E5869; */
	/* [disabled]text-decoration: underline; */


}

a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */

}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */

.container {
/*		max-width: 800px; a max-width may be desirable to keep this layout from getting too wide on a large monitor. This keeps line length more readable. IE6 does not respect this declaration. */
	max-width: 1170px;
	width: auto;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout. It is not needed if you set the .container's width to 100%. */
	border-top: none;
	height: 100%;
}



/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */

.header {
	height: 20px;
	/*margin: 10px 0px;*/
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.header p
{
	float:left;
	padding:0px;
	margin:10px 0px;
	color:#666;
	vertical-align: middle;
}

.header img
{
	float:right;
}

.greeting
{
	color: white;
	padding: 5px 10px;
}



/* ~~ These are the columns for the layout. ~~

1) Padding is only placed on the top and/or bottom of the divs. The elements within these divs have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.
2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a div set to float right). Many times, padding can be used instead. For divs where this rule must be broken, you should add a "display:inline" declaration to the div's rule to tame a bug where some versions of Internet Explorer double the margin.
3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar divs could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.
4) If you prefer your nav on the right instead of the left, simply float these columns the opposite direction (all right instead of all left) and they'll render in reverse order. There's no need to move the divs around in the HTML source.

*/

.content {
	width: 100%;
	float: left;
	background-image: url(../img/contentbg.png);
	background-repeat: repeat;
	position: relative;
	min-height: 400px;
	margin:0px 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
}

.innerContent {
	margin: 15px 30px;
}

/* ~~The footer ~~ */

.footer {
	clear: both;
	font-size: 11px;
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
/*	height:80px;*/
	display: block;
}

.footer a
{
	color: #444;
}

.footer img
{
	float:left;
}

.footer p
{
	padding: 10px;
	clear:none;
}

.footer .right
{
	text-align:right;
}

.sidebar2 {
	float: right;
	width: 29%;
	background: #93A5C4;
	padding: 10px 0;
	border-left: solid 1px #444;
	height: 100%;
	border-bottom: solid 1px #444;

}
.sidebar2 img {
	border: solid 1px #444;
}




/* ~~ This grouped selector gives the lists in the .content area space ~~ */

.content ul, .content ol {
	/*padding: 0px 50px 15px 50px;  this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */

}
.map {
	border:solid 1px #444;
	margin-bottom: 10px;
}

/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */

.nav li a:hover{
	background: url(../img/buttonbg-green.png);
}

.nav  {
	height: 32px;
	background: url(../img/buttonbg-green.png);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 14px;
	list-style-type: none;

}

.nav .button  {
	float: left;
	height: 32px;
}

.nav a ,.nav a:visited   { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	text-decoration: none;
	padding: 8px 15px 8px 15px;
	color: #FFF;
	top: auto;
	display: block;
	line-height: 16px;
}

.nav a.current , .nav a.current:visited   { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	color: #A3B3F1;
}
.nav a:hover,.nav a:active,.nav a:focus, .nav  a.current{ /* this changes the background and text color for both mouse and keyboard navigators */
	color: #A3B3F1;
}

.shadow {
	-moz-box-shadow:    0px 3px 8px 0px #444;
	-webkit-box-shadow: 0px 3px 8px 0px #444;
	box-shadow:         0px 3px 8px 0px #444;
}

.ieshadow
{/*
	background-color:gray;
	height:50px;
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
	*/
}


/* ~~miscellaneous float/clear classes~~ */

.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */

	float: right;

	margin-left: 8px;

}

.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */

	float: left;

	margin-right: 8px;

}

.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */

	clear:both;

	height:0;

	font-size: 1px;

	line-height: 0px;

}

ul.nav div.dropdown {
	display: none;
	position: relative;
	left: 0px;
	z-index:100;
	width:120px;
	-moz-box-shadow:    0px 3px 8px 0px black;
	-webkit-box-shadow: 0px 3px 8px 0px black;
	box-shadow:         0px 3px 8px 0px black;
}

ul.nav li.hovering div {
	display: block;
	overflow:hidden
}

ul.nav div.dropdown a {
	display:block;
	padding:8px 15px 8px 15px;
	font-size:13px;
	background: url(../img/buttonbg-green.png);
}

div.dropdown h3
{
	padding:0px;
	margin:0px;
}

.gallery {
	margin: 0;
	text-align: center;
}

ul.gallery
{
	padding:0px 21px 0px 21px;
}

.gallery li {
	display: -moz-inline-box;
	display: inline-block;
	padding: 10px 0px;
}

.gallery .image_wrap {
	display:table-cell;
	vertical-align:middle;
	height:230px;
	width:250px;
}

.partners .image_wrap {
	display:table-cell;
	vertical-align:middle;
	height:150px;
	width:250px;
}

.gallery a {
	display: block;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.gallery img {
	vertical-align: middle;
}

.gallery .caption {
	display: block;
	padding: 5px 5px;
	font-size: 13px;
	line-height: 1.1;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
}
