svg { font-size: 12px; }

.axis { shape-rendering: crispEdges; }
.axis line { stroke: #ddd; stroke-width: 1px; }
.axis path { display: none; }
.axis text { font-size: 0.8em; }

rect.extent { fill: #000; fill-opacity: .125; stroke: #fff; }
rect.frame { fill: #fff; fill-opacity: .7; stroke: #aaa; }

circle { fill: #ccc; fill-opacity: .6; }

.legend circle { fill-opacity: 1; }
.legend text { font-size: 18px; font-style: oblique; }

.cell text { pointer-events: none; }

.color-0  { fill: #1f77b4; }
.color-1  { fill: #ff7f0e; }
.color-2  { fill: #2ca02c; }
.color-3  { fill: #d62728; }
.color-4  { fill: #9467bd; }
.color-5  { fill: #8c564b; }
.color-6  { fill: #e377c2; }
.color-7  { fill: #7f7f7f; }
.color-8  { fill: #bcbd22; }
.color-9  { fill: #17becf; }
.color-10 { fill: #aec7e8; }
.color-11 { fill: #ffbb78; }
.color-12 { fill: #98df8a; }
.color-13 { fill: #ff9896; }
.color-14 { fill: #c5b0d5; }
.color-15 { fill: #c49c94; }
.color-16 { fill: #f7b6d2; }
.color-17 { fill: #9edae5; }


.scatter-matrix-control { float: left; margin-right: 20px; }
.scatter-matrix-svg { float: left; margin-top: 15px; }
.scatter-matrix-container p {
	margin: 0px;
}
.scatter-matrix-container ul {
	margin:	1em;
}

.scatter-matrix-color-control ul {
	padding: 1em;
}

.scatter-matrix-variable-control ul {
	list-style: none;
}
.scatter-matrix-container label {
	display: inline;
}
.scatter-matrix-container input {
	margin: 0px;
}

.scatter-matrix-filter-control ul { list-style: none; }
.scatter-matrix-drill-control ul { list-style: none; }

div.container {
	max-width: 1300px;
}